.about {
    background-color: var(--peach-color);
    overflow: hidden;
}

.about-hero {
    background-image: url(../assets/about/mobile/image-about-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.about-us {
    text-align: center;
    color: var(--white-color);
    width: 90%;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 17%;
    line-height: var(--line-height);
}

/* .about-image, .about-text {
    position: relative;
} */

/* .about-image img {
    position: absolute;
    width: 75%;
    right: -1rem;
    top: -11rem;
} */

.about-us p {
    margin-top: -2%;
}

/* Second section */
.world-class-talent {
    background: #FFDFDF;
    /* background-image: url(../assets/shared/desktop/bg-pattern-three-circles.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 145%;
    padding-bottom: 17%; */
}

.world-class-avatar {
    background-image: url(../assets/about/mobile/image-world-class-talent.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 	
    height: 50vh;
}

.world-class-text {
    text-align: center;
    width: 90%;
    margin: auto;
}

h2 {
    color: #FA7070;
    margin-top: 20%;
}

.world-class-text p {
    line-height: var(--line-height);
    margin-top: 5%;
    font-weight: var(--very-bold);
}

/* Third-section */
.see-location {
    margin-top: 25%;
}

.see-location-container {
    text-align: center;
    margin-top: 10%;
}

.canada, .australia, .uk {
    background-image: url(../assets/shared/desktop/bg-pattern-small-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.country {
    margin-top: 15%;
}

.country button {
    padding: 1.5em;
    border-radius: 1em;
    border: none;
    text-transform: uppercase;
    background: var(--peach-color);
    color: var(--white-color);
    margin-top: 2%;
    cursor: pointer;
}

.country button:hover {
    background: var(--lightPeach-color);
}

h3 {
    font-size: 1.5em;
}

/* Fourth section */
.real-deal {
    background: #FFDFDF;
    margin-top: 25%;

}

.real-deal-avatar {
    background-image: url(../assets/about/mobile/image-real-deal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 	
    height: 50vh;
}

.real-deal-container {
    padding-top: 15%;
    padding-bottom: 25%;
}

h4 {
    font-size: 2em;
    color: #FA7070;
}





/* ************************ Tablets *************************** */
@media(min-width: 768px) {
    .about, .world-class-talent {
        width: 90%;
        margin: auto;
        border-radius: 1rem;
    } 

    .about-hero {
        background-image: url(../assets/about/tablet/image-about-hero.jpg);
        background-size: cover;
        background-position: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        height: 40vh;
    }

    .about-us {
        width: 80%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    /* .about-image img {
        width: 100%;
        right: 12rem;
        top: -20rem;
    } */

    /* Second section */
    .world-class-talent {
        width: 90%;
        margin: auto;
        border-radius: 1rem;
        padding-bottom: 10%;
        background-position: center bottom;
        background-size: 95%;
        margin-top: 20%;
    }
    
    .world-class-avatar {
        background-image: url(../assets/about/tablet/image-world-class-talent.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%; 	
        height: 50vh;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    h2 {
        margin-top: 15%;
    }

    /* Third section */
    

}


/*  ********************* Desktop ******************** */
@media(min-width: 800px) {
    .about {
        display: flex;
        flex-direction: row-reverse;
    }

    .about-hero {
        background-image: url(../assets/about/desktop/image-about-hero.jpg);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 60%;
        height: 70vh;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .about-text {
        text-align: left;
        width: 80%;
        margin: auto;
    }

    .about-us p {
        margin-top: -10%;
    }

    /* .about-image img {
        width: 120%;
        right: -1rem;
        top: -29rem;
    } */
    
    .world-class-talent {
        display: flex;
        padding-bottom: 0;
        margin-top: 10%;
    }

    .world-class-avatar {
        background-image: url(../assets/about/desktop/image-world-class-talent.jpg);
        width: 60%;
        height: 80vh;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .world-class-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .world-class-text {
        text-align: left;
        width: 80%;
        margin: auto;
    }

    h2 {
        margin-top: 0;
    }

    /* Third section */
    .see-location {
        display: flex;
    }

    .see-location-col {
        flex-basis: 33%;
    }

}
