.about {
    background-color: var(--peach-color);
    overflow: hidden;
}

.about-hero {
    background-image: url(../assets/about/mobile/image-about-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.about-us {
    text-align: center;
    color: var(--white-color);
    width: 90%;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 17%;
    line-height: var(--line-height);
}

.about-image, .about-text {
    position: relative;
}

.about-image img {
    position: absolute;
    width: 75%;
    right: -1rem;
    top: -11rem;
}

.about-us p {
    margin-top: -5%;
}

/* Second section */
.world-class-talent {
    background: #FFDFDF;
}

.world-class-container, .real-deal-container {
    background-image: url(../assets/shared/desktop/bg-pattern-three-circles.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 130%;
}

.world-class-avatar {
    background-image: url(../assets/about/mobile/image-world-class-talent.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 	
    height: 50vh;
}

.world-class-text {
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 20%;
}

h2 {
    color: #FA7070;
}

.world-class-text p {
    line-height: var(--line-height);
    margin-top: 6%;
    font-weight: var(--very-bold);
}

#talent-leaf, .real-leaf {
    display: none;
}

/* Third-section */
.see-location {
    margin-top: 25%;
}

.see-location-container {
    text-align: center;
    margin-top: 15%;
}

.canada, .australia, .uk {
    background-image: url(../assets/shared/desktop/bg-pattern-small-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.country {
    margin-top: 15%;
}

.button {
    padding: 1.3rem;
    border-radius: 1rem;
    border: none;
    text-transform: uppercase;
    background: var(--peach-color);
    text-decoration: none;
    color: var(--white-color);
    cursor: pointer;
}

.button:hover {
    background: var(--lightPeach-color);
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 12%;
}

/* Fourth section */
.real-deal {
    background: #FFDFDF;
    margin-top: 25%;
    margin-bottom: 35%;
}

.real-deal-avatar {
    background-image: url(../assets/about/mobile/image-real-deal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 	
    height: 50vh;
}

h4 {
    font-size: 2em;
}



/* ************************ Tablets *************************** */
@media(min-width: 768px) {
    .about, .world-class-talent {
        width: 90%;
        margin: auto;
        border-radius: 1rem;
    } 

    .about-hero {
        background-image: url(../assets/about/tablet/image-about-hero.jpg);
        background-size: cover;
        background-position: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        height: 40vh;
    }

    .about-us, .world-class-text {
        width: 85%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .about-image img {
        width: 75%;
        left: -5rem;
        top: -11rem;
    }

    .about-us p {
        margin-top: -7%;
    }

    /* Second section */
    #talent-leaf, .real-leaf {
        display: none;
    }

    .world-class-talent {
        width: 90%;
        margin: auto;
        border-radius: 1rem;
        background-position: center bottom;
        background-size: 95%;
        margin-top: 15%;
    }

    .world-class-container, .real-deal-container {
        background-position: center right;
        background-size: 90%;
    }
    
    .world-class-avatar {
        background-image: url(../assets/about/tablet/image-world-class-talent.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%; 	
        height: 50vh;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    /* Third section */
    .see-location {
        margin-top: 20%;
    }

    .canada img, .australia img, .uk img {
        width: 30%;
    }

    /* Fourth section */
    .real-deal {
        width: 90%;
        margin: auto;
        border-radius: 1rem;
        margin-top: 15%;
        margin-bottom: 17%;
    }

    .real-deal-avatar {
        background-image: url(../assets/about/tablet/image-real-deal.jpg);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    h2, h4 {
        font-size: 2.5em;
    }

}


/*  ********************* Desktop ******************** */
@media(min-width: 800px) {
    .about {
        display: flex;
        flex-direction: row-reverse;
    }

    .about-hero {
        background-image: url(../assets/about/desktop/image-about-hero.jpg);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 60%;
        height: 70vh;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .about-text {
        text-align: left;
        width: 80%;
        margin: auto;
    }

    .about-us p {
        margin-top: -8%;
    }

    .about-image img {
        width: 75%;
        left: 0;
        top: -18rem;
    }
    
    /* Second section */
   #talent-leaf {
        display: block;
        position: absolute;
        width: 75%;
        top: 27rem;
        left: -2rem;
        z-index: -10;
    }

    .world-class-talent {
        display: flex;
        padding-bottom: 0;
        margin-top: 7%;
    }

    .world-class-avatar {
        background-image: url(../assets/about/desktop/image-world-class-talent.jpg);
        width: 60%;
        height: 80vh;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .world-class-container, .real-deal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .world-class-text {
        text-align: left;
        width: 80%;
        margin: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    h2 {
        margin-top: 0;
    }

    .real-leaf {
        display: block;
        position: relative;
    }

    .real-leaf img {
        position: absolute;
        width: 60%;
        transform: translate(95%, -40%);
        z-index: -10;
    }


    /* Third section */
    .see-location {
        margin-top: -1%;
    }

    .see-location-container {
        margin-top: 8%;
    }

    .canada img, .australia img, .uk img {
        width: 35%;
    }

    .see-location {
        display: flex;
    }
    
    .see-location-col {
        flex-basis: 32%;
    }

    h3 {
        font-size: 1.2em;
    }
    
    /* Fourth section */
    .real-deal {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 8%;
        margin-bottom: 7%;
    }

    .real-deal-avatar {
        background-image: url(../assets/about/desktop/image-real-deal.jpg);
        width: 60%;
        height: 80vh;
        border-top-left-radius: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    h2, h4 {
        margin-bottom: -2%;
    }

}
