.contact {
    background-color: var(--peach-color);
    color: var(--white-color);
    text-align: center;
    position: relative;
}

.contact-container {
    width: 90%;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 15%;
}

.contact-text {
    position: relative;
}

.contact-text p {
    margin-top: -2%;
    line-height: var(--line-height);
}

#contact-circle-desktop {
    display: none;
}

#contact-circle-mobile {
    width: 170%;
    position: absolute;
    left: -1.2rem;
    top: 0;
}

.form-container {
    margin-top: 5%;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form label {
    margin-top: 10%;
}

input {
    outline: none;
    border-style: none;
    background: transparent;
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    margin-top: 5%;
    cursor: pointer;
    font-size: 1em;
}

form button {
    width: 40%;
    margin: auto;
    padding: 1em;
    border-radius: 0.8em;
    border: none;
    margin-top: 10%;
    text-transform: uppercase;
    cursor: pointer;
}

input:nth-of-type(4n) {
    margin-top: 15%;
}

#email {
    width: 100%;
}

.email-error-container {
    position: relative;
}

.error {
   position: absolute;
   bottom: 2.68em;
   right: 0;
   display: flex;
   align-items: center;
   gap: 0.7rem;
   font-size: 0.8em;
}

.see-location {
    margin-bottom: 35%;
}

.see-leaf {
    display: none;
}

footer {
    padding-top: 10%;
    padding-bottom: 2%;
}



/* ******************* For Tablets ***************** */
@media(min-width: 768px) {
    .contact {
        width: 90%;
        margin: auto;
        text-align: left;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
    }

    .contact-container {
        width: 85%;
        padding-top: 15%;
        padding-bottom: 25%;
    }

    #contact-circle-mobile {
        display: none;
    }

    #contact-circle-desktop {
        display: block;
        position: absolute;
        top: 0;
        left: -3rem;
    }

    .form-container {
        margin-top: 0;
    }

    form {
        position: relative;
    }

    form button {
        width: 15em;
        padding: 2em;
        position: absolute;
        right: 0;
        bottom: -6.5rem;
    }

    .error {
        bottom: 3.3em;
        font-size: 0.9em;
    }

    .see-location {
        margin-bottom: 20%;
    }

    .see-leaf {
        display: none;
    }
    
    footer {
        padding-top: 10%;
        padding-bottom: 0;
    }
    
}


/* ******************* For Desktop ***************** */
@media(min-width: 800px) {
    form button:hover {
        background: var(--lightPeach-color);
        color: var(--white-color);
    }

    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 12%;
        gap: 6rem;
    }

    .contact-col {
        flex-basis: 48%;
    }

    .contact-text {
        margin-top: 7%;
    }

    .contact-text p {
        margin-top: -5%;
    }

    #contact-circle-desktop {
        width: 40%;
        left: 0;
    }

    form label {
        margin-top: 5%;
    }

    input {
        margin-top: 2%;
    }

    #message {
        margin-top: 7%;
    }
    
    .error {
        position: relative;
        float: right;
        bottom: 3.6em;
        font-size: 0.9em;
        margin-bottom: -2%;
    }

    .see-location {
        margin-bottom: 10%;
    }

    .see-leaf {
        display: block;
        position: relative;
        z-index: -10;
    }

    .see-leaf img {
        width: 70%;
        position: absolute;
        right: 0;
        transform: translateY(28%);
    }
    
    footer {
        padding-top: 10%;
        padding-bottom: 0;
    }
    
    footer {
        padding-top: 5%;
        padding-bottom: 0;
    }
}