@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Montserrat:wght@100&family=Poppins:wght@300;400;600;700&family=Roboto+Mono:wght@300&family=Roboto:wght@100;300;400&display=swap');

*,
*::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
   --black-color: #1D1C1E;
   --white-color: #fff;
   --peach-color: #E7816B;
   --lightPeach-color: #FFAD98;
   --darkGrey-color: #333136;
   --lightGrey-color: #F1F3F5;
   --h1-font: 1.8rem;
   --medium-bold: 600;
   --very-bold: 700;
   --h2-font: 1.7rem;
   --h3-font: 1.4rem;
   --letter-spacing: 0.1rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#logo {
    width: 60%;
}

#menu {
    height: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10% auto 10% auto;
}

nav {
    background: var(--black-color);
    position: absolute;
    display: none;
    z-index: 1;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 3;
    color: var(--white-color);
    font-family: 'Roboto Mono', monospace;
}

.frame-section {
    background-color: var(--peach-color);
    position: relative;
    overflow: hidden;
    color: var(--white-color);
    margin-bottom: 10%;
}

#small-circle img {
    width: 180%;
    position: absolute;
    top: 7.8rem;
}

.frame-container {
   width: 90%;
   margin: auto;
}

#frame-txt {
    text-align: center;
    margin-top: 25%;
}

h1 {
    font-size: var(--h1-font);
    font-weight: var(--very-bold);
    margin-bottom: 10%;
    letter-spacing: var(--letter-spacing);
}

#frame-txt p {
    line-height: 2;
    margin-bottom: 6.5%;
}

#frame-txt button {
    padding: 2em;
    border: none;
    border-radius: 1.2em;
    background-color: var(--white-color);
    text-transform: uppercase;
    color: var(--black-color);
    letter-spacing: var(--letter-spacing);
    font-weight: var(--medium-bold);
    cursor: pointer;
}

#hero-phone {
    width: 180%;
    margin-top: -25%;
    margin-left: -38.9%;
    margin-bottom: -105%;
    position: relative;
}












@media(min-width: 768px) {
    header {
        margin: 5% auto 5% auto;
    }

    #logo {
        width: 30%;
        height: 100%;
    }

    #menu {
        display: none;
    }

    nav {
        position: relative;
        display: block;
        background-color: transparent;
        width: 50%;
        margin-top: -1.7%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav ul li a {
        color: var(--black-color);
        font-weight: var(--very-bold);
    }

    #small-circle img {
        width: 30%;
    }

    #hero-phone {
        width: 40%;
    }

    .frame-section {
        width: 90%;
        margin: auto;
        border-radius: 1.5rem;
    }

    .frame-container {
        width: 80%;
    }

    #frame-txt {
        margin-top: 15%;
    }

    h1 {
        font-size: 2.7rem;
    }

    #frame-txt p {
        font-size: 1.2rem;
        margin-top: -5%;
        margin-bottom: 4%;
    }



    
}




@media(min-width: 800px) {
    .frame-section {
        display: flex;
    }
}