.location {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.location span {
    display: block;
}

.canada-map {
    background-image: url(../assets/locations/desktop/image-map-canada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.australia-map {
    background-image: url(../assets/locations/desktop/image-map-australia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.uk-map {
    background-image: url(../assets/locations/desktop/image-map-united-kingdom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.address {
    background-color: #FFDFDF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.7;
    padding: 20% 0 20% 0;
    background-image: url(../assets/shared/desktop/bg-pattern-three-circles.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 150%;
}

h1 {
    color: var(--peach-color);
    letter-spacing: 0;
}

h4 {
    font-weight: var(--very-bold);
    font-size: 1em;
}

.office {
    margin-top: -3%;
}

.contact {
    margin-top: 8.5%;
}

.second-location, .third-location {
    margin-top: 10%;
}

.third-location {
    margin-bottom: 30%;
}



/* ****************** Tablet Design ******************** */
@media(min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .address {
        margin-top: 4%;
        border-radius: 1rem;
        padding: 15% 0 15% 0;
    }

    .address-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
        position: relative;
        left: 4rem;
    }

    .office {
        margin-top: 0;
    }

    .contact {
        margin-top: 30%;
    }

    .location {
        width: 90%;
        margin: auto;
    }

    .canada-map {
        background-image: url(../assets/locations/tablet/image-map-canada.png);
        height: 40vh;
    }

    .australia-map {
        background-image: url(../assets/locations/tablet/image-map-australia.png);
        height: 40vh;
    }

    .address {
        background-image: url(../assets/shared/desktop/bg-pattern-two-circles.svg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 98%;
    }

    .uk-map {
        background-image: url(../assets/locations/tablet/image-map-uk.png);
        height: 40vh;
    }

    .canada-map, .australia-map, .uk-map {
        border-radius: 1rem;
    }

    .second-location, .third-location {
        margin-top: 20%;
    }

    .third-location {
        margin-bottom: 20%;
    }
}



@media(min-width: 800px) {
    .first-location, .third-location {
        display: flex;
        flex-direction: row-reverse;
        gap: 2%;
    }

    .canada-map, .uk-map {
        width: 30%;
    }

    .address-col {
        width: 70%;
    }

    .second-location {
        display: flex;
        gap: 2%;
    }

    .australia-map {
        width: 30%;
    }

    .address {
        width: 70%;
        padding: 0;
        margin-top: 0%;
        background-size: contain;   
    }

    .second-location, .third-location {
        margin-top: 2%;
    }

    .third-location {
        margin-bottom: 7%;
    }

    .address-container {
        left: 0;
        display: flex;
        width: 85%;
        margin: auto;
    }

    .address-col {
        flex-basis: 38%;
    }
    
    .contact {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    h1 {
        font-size: 2rem;
    }
}