
.first-section {
    background-color: var(--peach-color);
    color: var(--white-color);
    text-align: center;
    padding: 25% 0% 35% 0%;
    position: relative;
    overflow: hidden;
}

.web-text {
    position: relative;
    z-index: 5;
    width: 90%;
    margin: auto;
}

.web-text p {
    line-height: var(--line-height);
    margin-top: -1.5%;
}
 
#small-circle {
    position: absolute;
    width: 100%;
    top: -7.2rem;
    right: 7.8rem;
}

#small-circle img {
    width: 80%;
}

.express {
    background-image: url(../assets/web-design/desktop/image-express.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.transfer {
    background-image: url(../assets/web-design/desktop/image-transfer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.photon {
    background-image: url(../assets/web-design/desktop/image-photon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem; 
}

.builder {
    background-image: url(../assets/web-design/desktop/image-builder.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.blogr {
    background-image: url(../assets/web-design/desktop/image-blogr.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.camp {
    background-image:url(../assets/web-design/desktop/image-camp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.graphic-design {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../assets/home/mobile/image-graphic-design.jpg);
}



@media(min-width: 768px) {
    .tim-brown-container {
        display: flex;    
    }

    .express, .transfer, .photon, .builder, .blogr, .camp {
        width: 75%;
        height: 40vh;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .app-design {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../assets/home/tablet/image-app-design.jpg);
    }

    .graphic-design {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../assets/home/tablet/image-graphic-design.jpg);
    }
}


@media(min-width: 800px) {
    .tim-brown {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: auto;
    }

    .tim-brown-container {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .express, .transfer, .photon, .builder, .blogr, .camp {
        width: 100%;
        height: 65vh;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }

    .tim-peach {
        background-color: var(--peach-color);
    }

    .tim-peach h2, .tim-peach p {
        color: var(--white-color);
    }

    .app-design {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../assets/home/desktop/image-app-design.jpg);
    }

    .graphic-design {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../assets/home/desktop/image-graphic-design.jpg);
    }

    .sub-design {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
        padding-top: 7%;
    }

    .col {
        flex-basis: 49%;
    }

    .design-span {
        margin-top: -1%;
    }
}