.first-section {
    background-color: var(--peach-color);
    color: var(--white-color);
    text-align: center;
    padding: 25% 0% 35% 0%;
    background-image: url(../assets/shared/desktop/bg-pattern-small-circle.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 95%;
    margin-bottom: 25%;
}

.text {
    position: relative;
    z-index: 5;
    width: 90%;
    margin: auto;
}

.text p {
    line-height: var(--line-height);
    margin-top: -1.5%;
}

.tim-brown-leaf {
    display: none;
}

.express {
    background-image: url(../assets/web-design/desktop/image-express.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.transfer {
    background-image: url(../assets/web-design/desktop/image-transfer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.photon {
    background-image: url(../assets/web-design/desktop/image-photon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem; 
}

.builder {
    background-image: url(../assets/web-design/desktop/image-builder.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.blogr {
    background-image: url(../assets/web-design/desktop/image-blogr.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.camp {
    background-image:url(../assets/web-design/desktop/image-camp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.graphic-design {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../assets/home/mobile/image-graphic-design.jpg);
}



@media(min-width: 768px) {
    .first-section {
        padding: 10% 0% 10% 0%;
        background-image: url(../assets/web-design/desktop/bg-pattern-intro-web.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 125%;
        width: 90%;
        margin: auto;
        border-radius: 1rem;
    }
    
    .text {
        width: 70%;
    }
    
    .text p {
        margin-top: -3.5%;
    }

    .tim-brown-leaf {
        display: none;
    }

    .tim-brown {
        margin-top: 15%;   
    }

    .tim-brown-container {
        display: flex; 
    }

    .express, .transfer, .photon, .builder, .blogr, .camp {
        width: 75%;
        height: 40vh;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .app-design {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../assets/home/tablet/image-app-design.jpg);
    }

    .graphic-design {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../assets/home/tablet/image-graphic-design.jpg);
    }
}


@media(min-width: 800px) {
    .first-section {
        padding: 5% 0% 5% 0%;
        background-size: cover;
    }
    
    .text {
        width: 35%;
    }
    
    .text p {
        margin-top: -5%;
    }

    .tim-brown-leaf {
        display: block;
        position: absolute;
        width: 80%;
        top: 12rem;
        left: -2rem;
        z-index: -10;
    }

    .tim-brown {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: auto;
        margin-top: 7.5%;
    }

    .tim-brown-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80vh;

    }

    .express, .transfer, .photon, .builder, .blogr, .camp {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }

    .app-design {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../assets/home/desktop/image-app-design.jpg);
    }

    .graphic-design {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(../assets/home/desktop/image-graphic-design.jpg);
    }

    .sub-design-section {
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .sub-design {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 100%;
        margin: auto;
        padding-top: 0;
    }

    .col {
        flex-basis: 49%;
    }

    .design-span {
        margin-top: -1%;
    }
}